$breakpoint-down-xxl: 1365.98px;
$breakpoint-down-xl: 1199.98px;
$breakpoint-down-lg: 1023.98px;
$breakpoint-down-md: 991.98px;
$breakpoint-down-sm: 767.98px;
$breakpoint-down-xs: 575.98px;
$breakpoint-down-xxs: 413.98px;
$breakpoint-down-xxxs: 374.98px;

$breakpoint-up-xxl: 1366px;
$breakpoint-up-xl: 1200px;
$breakpoint-up-lg: 1024px;
$breakpoint-up-md: 992px;
$breakpoint-up-sm: 768px;
$breakpoint-up-xs: 576px;
$breakpoint-up-xxs: 414px;
$breakpoint-up-xxxs: 375px;

$box-shadow-header: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
$box-shadow-form: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
