*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  line-height: 1.15;
  font-size: 16px;
}

section,
footer,
header,
aside,
main,
nav {
  display: block;
}

body {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  min-height: 100vh;
  text-align: left;
  max-width: 100vw;
  min-width: 360px;
  font-size: 1rem;
  width: 100vw;
  color: #000;

  &.overflow-hidden {
    overflow: hidden;
  }
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
  color: #000;

  &:visited,
  &:active,
  &:hover,
  &:link {
    outline: none !important;
  }

  &:hover {
    text-decoration: underline;
    color: #000;
  }

  &:not([href]):not([tabindex]) {
    text-decoration: none;
  }

  &:not([href]):not([tabindex]):hover,
  a:not([href]):not([tabindex]):focus {
    text-decoration: none;
    color: inherit;
  }

  &:not([href]):not([tabindex]):focus {
    outline: 0;
  }
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

svg {
  vertical-align: middle;
  pointer-events: none;
  overflow: hidden;
}

button {
  border-radius: 0;
  background: transparent;
  border: 0;

  &:active,
  &:focus {
    outline: none !important;
  }
}

button,
[type='button'],
[type='submit'],
[type='reset'] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
  margin: 0;

  &:focus {
    outline: none;
  }
}

button,
input {
  overflow: visible;
}

button,
input[type='submit'] {
  display: block;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

input,
textarea,
select {
  outline: none !important;
}

input[type='text'] {
  -moz-appearance: textfield;
  appearance: textfield;

  &::-ms-clear {
    display: none;
  }
}

input[type='password'] {
  &::-ms-reveal {
    display: none;
  }
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: textfield;
}

textarea {
  overflow: auto;
  resize: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
