@import '../../../../styles/configs';
@import '../../../../styles/colors';

.about-slider-slide {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media screen and (max-width: $breakpoint-up-sm) {
    flex-direction: column;
    align-items: stretch;
  }

  &__img-wrapper {
    width: 50%;
    margin-right: 32px;
    border: 10px solid $beige;

    img {
      width: 100%;
      height: 250px;
    }

    @media screen and (max-width: $breakpoint-up-sm) {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      margin-bottom: 32px;
    }
  }

  &__description {
    width: 50%;
    margin: 0 auto;

    @media screen and (max-width: $breakpoint-up-sm) {
      width: 100%;
      max-width: 800px;
      text-align: center;
    }
  }
}
