@import '../../../../styles/configs';
@import '../../../../styles/colors';

.hamburger-btn {
  margin-top: 4px;
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  display: block;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;

  p {
    position: absolute;
    height: 2px;
    background-color: $white;
    width: 100%;
    display: block;
    opacity: 1;
    transform: rotate(0);
    transition: 0.2s ease;

    &:nth-of-type(1) {
      top: 0;
      left: 0;
    }

    &:nth-of-type(2) {
      top: 8px;
      right: 0;
    }

    &:nth-of-type(3) {
      top: 16px;
      left: 0;
    }
  }

  &--open {
    p {
      &:nth-of-type(1) {
        top: 8px;
        transform: rotate(135deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
        right: 26px;
      }

      &:nth-of-type(3) {
        top: 8px;
        transform: rotate(-135deg);
      }
    }
  }
}
