@import '../../styles/colors';

.input-date-time {
  input {
    width: 100%;
    padding: 12px 24px 10px 24px;
    height: 48px;
    border: $grey-5 1px solid;
    color: $grey-1;
    line-height: 1;
    font-size: 0.9rem;
    transition: border-color 0.3s ease;
    cursor: pointer;

    &:hover {
      border-color: $grey-1;
    }

    &:focus {
      border-color: $beige;
    }
  }

  .react-datepicker-wrapper {
    width: 100%;
  }
}
